.presentation {
    min-height: 1126px;
    background: 
    url(../../assets/img/presentation/presentation-book-bg.png) right 92px bottom  no-repeat,
    url(../../assets/img/presentation/presentation-fog-bg.png) bottom  no-repeat,
    url(../../assets/img/presentation/presentation-fog-top-bg.png) top  no-repeat,
    url(../../assets/img/presentation/presentation-bg.png) right top  no-repeat,
    
;
// background-position-x:818px, 20px, -64px, 698px;
// background-position-y:307px, 20px, -20px, -92px
}

.presentation-container {
}
.presentation__titlte {
    width: 797px;
    height: 182px;
    padding-top: 36px;
    margin-bottom: 30px;
}
.presentation__subtitle {
    font-weight: 300;
font-size: 26px;
line-height: 34px;
color: #000000;
width: 567px;
height: 136px;
margin-bottom: 74px;

}
